@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

Link:visited {
    color: #333;
}

.listItem {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    text-align: start;
}

.container {
    width: 100%;
    min-width: 400px;
    max-width: 400px;
    padding: 20px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    font-weight: 400;
    font-style: normal;
   
}

h1, h2 {
    color: #3f51b5;
}

h3 {
    text-align: center; 
}

a.active{
    background: #1976d2;
    color: white;
}

a:visited{
    border: none;
}

.voltar {
    background-color: white;
    color: #0055a5;
    cursor: pointer;
    padding: 5px 10px;
        font-size: 14px;
        width: 200px;
        height: 40px;
        text-align: center;
        display: block;
        margin: 10px auto; 
}

.small-button{
   
        padding: 5px 10px;
        font-size: 14px;
        width: 120px;
        height: 30px;
        text-align: center;
        display: block;
        margin: 10px auto;  
}